@import "./blocks/footer";
@import "./blocks/media";
@import "./blocks/menu";
@import "./blocks/prizes";
@import "./blocks/modal";


body {
    color: white;
    background: rgba(131, 95, 181, 1);
}


.wrapper {
    margin: auto;
    width: 40px;

    @include media(desktop-s) {
        width: 1160px;
    }
    @include media(desktop-m) {
        width: 1280px;
    }
    @include media(desktop-l) {
        width: 1680px;
    }
}