@font-face {
    font-family: 'Raleway2';
    src: url(fonts/static/Raleway-Bold.ttf);
}

.menu_background {
    display: inline-flex;
    padding: 10px 10px 10px 20px;
    align-items: center;
    gap: 39px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.80);
}


.menu_elements {
    color: #400F65;
    font-family: Raleway2;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    font-variant-numeric: lining-nums proportional-nums;
}

.menu_button {
    color: #400F65;
    font-family: Raleway2;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 347px;
    height: 64px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    border: none;
}