@import "fonts";
@import "colors";
@import "media";


.prize-table {
    color: $dark_purple;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .prize-table__prize-cart {


        text-align: center;
        display: block;
        border-radius: 22px;
        backdrop-filter: blur(8px);
    }
}